.menuu {
  margin-bottom: 100px;
}
.new {
  text-align: center;
}
.cardd {
  margin-top: 30px;
}
.imgSelect {
  height: 100%;
  width: 100%;
}
.pic-card {
  margin-left: auto;
  margin-right: auto;
  height: 100%;
  width: 100%;
}
