@import url("https://fonts.googleapis.com/css?family=Kanit&display=swap");
.form-menu {
  margin-top: 50px;
  margin-bottom: 100px;
  margin-left: auto !important;
  margin-right: auto !important;
  text-align: center;
}
.img_menu {
  height: 150px;
}
.text-menu {
  margin-top: 10px;
  color: #007aa5;
  font-family: "Kanit", sans-serif;
}
.text_menucom{
  font-size: 100px;
  text-align: center;
  color: rgb(13, 43, 175);
}