.log{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #990000;
    text-align: center;
}
Input [type = "email"],
Input [type = "password"] {
    display: block;
    width: 500px;
    height: 30px;
    margin-left: auto;
    margin-right: auto;
}
