@import url("https://fonts.googleapis.com/css?family=Montserrat+Alternates&display=swap");
@import url("https://fonts.googleapis.com/css?family=Kanit&display=swap");

.form-login {
  margin-top: 150px;
  margin-bottom: 50px;
  text-align: center;
  border: 3px;

}

.text_login {
  margin-top: 15px;
  text-align: center;
  font-size: 25px;
  font-family: "Kanit",
    sans-serif;
  color: #003366;
}

.from_inputemail {
  margin-top: 20px;
}

.from_inputpass {
  margin-top: 20px;

}

.btn-login {
  margin-top: 30px;
  text-align: center !important;
  padding: 15px !important;
  font-size: 18px !important;
  font-family: "Kanit", sans-serif;
}

.btn-forgot {
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  font-size: 17px !important;
  font-family: "Kanit", sans-serif;
}

.text-re {
  margin-top: 50px;
  text-align: center;
  padding: 15px !important;
  text-align: center !important;
  font-family: "Kanit", sans-serif;
}

.input-login {
  width: 400px !important;
  height: 40px !important;
  margin-left: auto !important;
  margin-right: auto !important;
  padding: 10px;
  font-family: "Kanit", sans-serif;
  font-size: 16px !important;

}

.logo {
  height: 130px;
  text-align: center;
}

.forget-pass {
  font-size: 15px;
  font-family: "Kanit", sans-serif;
  text-align: right;
}

.reg {
  margin-left: auto !important;
  margin-right: auto !important;
}

@media only screen and (max-width: 768px) {
  .from_lo {}
}