@import url("https://fonts.googleapis.com/css?family=Montserrat+Alternates&display=swap");
@import url("https://fonts.googleapis.com/css?family=Kanit&display=swap");
.from_lo{
  padding-left: 500px ;
  padding-right: 500px;
}
.form-login {
  margin-top: 150px;
  margin-bottom: 100px;
  margin-left: auto !important;
  margin-right: auto !important;
  text-align: center;
  border:3px ;
}
.text_login{
   text-align: center;
   font-size: 30px;
     font-family: "Kanit",
     sans-serif;
}
.btn-login {
  margin-top: 30px;
  text-align: center !important;
  padding: 15px !important;
  font-size: 18px !important;
  font-family: "Kanit", sans-serif;
}

.btn-forgot {
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  font-size: 18px;
  font-family: "Kanit", sans-serif;
}

.text-re {
  margin-top: 50px;
  text-align: center;
  padding: 15px !important;
  text-align: center !important;
  font-family: "Kanit", sans-serif;
}

.input-login {
  width: 400px !important;
  height: 50px !important;
  margin-left: auto !important;
  margin-right: auto !important;
  margin-top: 35px;
  padding: 10px;
  font-family: "Kanit", sans-serif;
}

.logo {
  height: 200px;
}

.forget-pass {
  font-size: 20px;
  margin-left: 300px;
  font-family: "Kanit",sans-serif;
}

.reg {
  margin-left: auto !important;
  margin-right: auto !important;
}

@media only screen and (max-width: 768px) {
  .lo {
    margin-top: 90px;
    height: 80px;
    width: 80px;
  }

  .input-login {
    margin: 20px 50px 15px 50px;
    width: 250px !important;
    height: 35px !important;
    font-size: 12px !important;
    text-align: center;
  }

  .btn-login {
    margin-top: 50px;
    text-align: center;
    width: 200px !important;
    height: 40px !important;
    padding: 15px !important;
    font-family: "Kanit", sans-serif;
  }

  .text-re {
    font-size: 12px;
    padding: 15px !important;
  }

  .form-login {
    margin-left: auto;
    margin-right: auto;
    margin-top: -50px;
    text-align: center;
  }

  .btn-register {
    font-size: 12px;
    font-family: "Kanit", sans-serif;
    margin-top: 5px;
  }

  .fon-btl {
    font-family: "Montserrat Alternates", sans-serif;
  }

  .forget-pass {
    font-size: 10px;
    margin-right: 50px;
  }

  .btn-forgot {
    margin-top: 10px;
    font-size: 12px;
    font-family: "Kanit", sans-serif;
  }
}