@import url("https://fonts.googleapis.com/css?family=Kanit&display=swap");

.text_customer {
    color: #003366;
    font-size: 40px;
    text-align: center;
    font-family: "Kanit",
        sans-serif;
}

.card_listorder {
    max-width: 1200px;
    margin-top: 20px;
    text-align: center;
    font-family: "Kanit",
        sans-serif;
    font-size: 24px;
}

.bt_listorder {
    font-size: 18px;
    height: 50px;
}

.popup {
    margin-left: 150px !important;
    min-width: 1000px !important;
}

.popover {
    width: 1200;
}

.formBTConfirm {
    text-align: center;

}

.btconfirm {
    margin: 10px;
    font-family: "Kanit",
        sans-serif;
    font-size: 22px !important;
    height: 50px;
    text-align: center;
    width: 700px;
}

.menulistuser {
    font-family: "Kanit",
        sans-serif;
    font-size: 24px;
    text-align: center;

}

.tablelistuser {
    font-family: "Kanit",
        sans-serif;
    font-size: 22px;
    text-align: center;
}

.readytodeliver {
    color: #10526e;
    font-size: 30px;
    text-align: center;
    font-family: "Kanit",
        sans-serif;
    margin-top: 30px;
}

.btoksender {
    font-size: 18px;
    text-align: center;
    font-family: "Kanit",
        sans-serif;
}

.img_correct {
    height: 120px;
    width: 100px;

}

.piccorrect {
    text-align: center !important;
    width: 100%;
}

.card_menulistuser {
    font-family: "Kanit",
        sans-serif;
    font-size: 14px;
}