@import url("https://fonts.googleapis.com/css?family=Kanit&display=swap");

.text_customer {
    color: #003366;
    font-size: 30px;
    text-align: center;
    font-family: "Kanit",
        sans-serif;
}

.card_listorder {
    margin-top: 20px;
    text-align: center;
    font-family: "Kanit",
        sans-serif;
    font-size: 16px;
}

.bt_listorder {
    font-size: 14px;
}

.popup {
    margin-left: 100px !important;
    max-width: 550px !important;
}

.popover {
    width: 500px;
}

.btconfirm {
    margin: 10px;
    font-family: "Kanit",
        sans-serif;
    font-size: 14px;
    text-align: center;
}

.menulistuser {
    font-family: "Kanit",
        sans-serif;
    font-size: 18px;
    text-align: center;
}

.tablelistuser {
    font-family: "Kanit",
        sans-serif;
    font-size: 14px;
    text-align: center;
}

.readytodeliver {
    color: #10526e;
    font-size: 30px;
    text-align: center;
    font-family: "Kanit",
        sans-serif;
    margin-top: 30px;
}

.btoksender {
    font-size: 18px;
    text-align: center;
    font-family: "Kanit",
        sans-serif;
}

.img_correct {
    height: 120px;
    width: 100px;

}

.piccorrect {
    text-align: center !important;
    width: 100%;
}

.card_menulistuser {
    font-family: "Kanit",
        sans-serif;
    font-size: 14px;
}