@import url("https://fonts.googleapis.com/css?family=Kanit&display=swap");

.card_food {
    margin-top: 20px;
    text-align: center;
    font-family: "Kanit",
        sans-serif;
    font-size: 20px;
}

.in_check {
    width: 10px !important;
}

.check {
    width: 20px;
    height: 20px;
}

.tt_inputfood {
    width: 100px;
}

.text_basket {
    font-size: 40px;
    text-align: center;
    font-family: "Kanit", sans-serif;
}

.table-basket {
    margin-top: 15px !important;
    font-family: "Kanit", sans-serif;
    text-align: center;
}

.item {
    width: 400px;
    height: 50px;
    text-align: center !important;
}

.price_item {
    width: 50px;
    height: 50px;
    text-align: center !important;
}

.add_remove {
    width: 50px;
    height: 50px;
    text-align: center !important;
    border: none;
}

.bt_addremove {
    background-color: #ffffff;
}

.total_item {
    width: 50px;
    height: 50px;
    text-align: center !important;
}

.from_money {
    margin-top: 80px;
}

.text_money {
    font-size: 25px;
    font-family: "Kanit", sans-serif;
    text-align: center;
}

.text_food {
    font-size: 19px;
    font-family: "Kanit", sans-serif;
}

.tt_food {
    font-size: 19px;
    font-family: "Kanit",
        sans-serif;
}

.delivery_charge {
    font-size: 19px;
    font-family: "Kanit", sans-serif;
}

.tt_money {
    font-size: 22px;
    font-family: "Kanit", sans-serif;
    text-align: center;
}

.address_customer {
    font-size: 25px;
    font-family: "Kanit",
        sans-serif;
    text-align: right;
    margin-top: 30px;
    text-align: center;
}
.img_trash{
    width: 30px;
    height: 30px;
}.img_gps{
    width: 30px;
    height: 30px;
    margin-right: 20px;
}
.footer_ttfood{
    margin-left: 10px;
}
