@import url("https://fonts.googleapis.com/css?family=Kanit&display=swap");
@import url('https://fonts.googleapis.com/css?family=Prompt&display=swap');

.textname-drink {
    margin-top: 15px;
    font-size: 35px;
    color: rgb(0, 96, 175);
    font-family: "Kanit",
        sans-serif;
    text-align: center;
}

.textname-drink:hover {
    text-decoration: none;
    color: rgb(15, 97, 219);
}

.img_gt {
    height: 200px;
    width: 250px;
    margin-top: 2px;
}

.img_chadum {
    height: 200px;
    width: 250px;
    margin-top: 2px;
}

.img_chamanow {
    height: 200px;
    width: 250px;
    margin-top: 2px;
}

.img_coffee {
    height: 200px;
    width: 250px;
    margin-top: 2px;
}

.img_ovantin {
    height: 200px;
    width: 250px;
    margin-top: 2px;
}

.img_greentea {
    height: 200px;
    width: 250px;
    margin-top: 2px;
}