@import url("https://fonts.googleapis.com/css?family=Kanit&display=swap");
@import url('https://fonts.googleapis.com/css?family=Prompt&display=swap');

.textname-drink {
    text-align: center;
    font-size: 50px;
    margin-top: 15px;
    color: #224870;
    font-family: "Kanit", sans-serif;
}

.textname-drink:hover {
    text-decoration: none;
    color: #00758d;
}

.img_gt {
    height: 200px;
    width: 250px;
}

.img_chadum {
    height: 200px;
    width: 250px;
}

.img_chamanow {
    height: 200px;
    width: 250px;
}

.img_coffee {
    height: 200px;
    width: 250px;
}

.img_ovantin {
    height: 200px;
    width: 250px;
}

.img_greentea {
    height: 200px;
    width: 250px;
}