@import url("https://fonts.googleapis.com/css?family=Kanit&display=swap");
.textname-dimsum:hover {
    text-decoration: none;
    color: #00758d;
}
.input_search{
     font-family: "Kanit",
     sans-serif;
}