@import url("https://fonts.googleapis.com/css?family=Kanit&display=swap");

.ban-size {
  margin-top: 10px;
  text-align: center;
}

.text {
  margin-top: 20px;
  font-family: "Kanit", sans-serif;
}

.bt_startfood {
  margin-top: 15px;
  text-align: center;
  font-family: "Kanit",
    sans-serif;
}

.fon_btstfood {
  font-size: 18px !important;
  color: #134577;
}

@media only screen and (max-width: 768px) {
  .img {
    height: 20px !important;
    width: 20px !important;
    margin-left: auto !important;
    margin-right: auto !important;
    display: block;
  }

  .ban-size {
    margin-top: 20px;
    text-align: center;
  }

  .bt_startfood {
    margin-top: 15px;
    text-align: center;
    font-family: "Kanit",
      sans-serif;
    font-size: 12px;
  }

  .fon_btstfood {
    font-size: 12px !important;
    color: #134577;
  }
}