@import url("https://fonts.googleapis.com/css?family=Kanit&display=swap");
.img {
  width: 1200px;
  height: 360px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.ban-size {
  margin-top: 20px;
  text-align: center;
}
.text {
  margin-top: 20px;
  font-family: "Kanit", sans-serif;
}
@media only screen and (max-width: 768px) {
  .img {
    height: 10px;
    width: 10px;
  }
  .ban-size {
    margin-top: 20px;
    text-align: center;
  }
}
