@import url("https://fonts.googleapis.com/css?family=Kanit&display=swap");
.img {
  width: 300px !important;
  height: 80px !important;
  margin-left: auto !important;
  margin-right: auto !important;
  display: block;
}
.ban-size {
  margin-top: 20px;
  text-align: center;
}
.text {
  margin-top: 20px;
  font-family: "Kanit", sans-serif;
}
.bt_startfood{
  margin-top: 30px;
  text-align: center;
  font-family: "Kanit",
  sans-serif;
  font-size: 22px;
}
@media only screen and (max-width: 768px) {
  .img {
    height: 20px !important;
    width: 20px !important;
    margin-left: auto !important;
    margin-right: auto !important;
    display: block;
  }
  .ban-size {
    margin-top: 20px;
    text-align: center;
  }
}
