@import url("https://fonts.googleapis.com/css?family=Kanit&display=swap");

.text_status {
    font-size: 40px;
    text-align: center;
    font-family: "Kanit", sans-serif;
}

.from_status {
    margin-top: 20px;
    padding-left: 150px;
    padding-right: 150px;
    text-align: center;
    font-family: "Kanit",
    sans-serif;
    font-size: 16px;
}
