@import url("https://fonts.googleapis.com/css?family=Kanit&display=swap");

.text_status {
    margin-top: 15px;
    font-size: 50px;
    color: #243e5a;
    font-family: "Kanit",
        sans-serif;
    text-align: center;
}

.from_status {
    margin-top: 50px;
    padding-left: 100px;
    padding-right: 100px;
    text-align: center;
    font-family: "Kanit",
        sans-serif;
}

.frame_status {}

.font_status {
    font-size: 14px;
    margin-top: 8px;
}

.text-addre {
    font-size: 20px;
    margin-top: 10px;
    font-family: "Kanit",
        sans-serif;
}

.img_menu {
    width: 70px;
    height: 80px;
    text-align: center;
}

.img_meal {
    width: 70px;
    height: 80px;
    text-align: center;
}

.img_product {
    width: 70px;
    height: 80px;
    text-align: center;
}

.img_delivery {
    width: 70px;
    height: 80px;
    text-align: center;
}

.img_breakfast {
    width: 70px;
    height: 80px;
    text-align: center;
}

.img_foodorder {
    width: 70px;
    height: 80px;
    text-align: center;
}

.img_address {
    width: 70px;
    height: 80px;
    text-align: center;
}

.img_pay {
    width: 70px;
    height: 80px;
    text-align: center;
}

.img_confirm {
    width: 70px;
    height: 80px;
    text-align: center;
}

.green {
    background-color: #99efcf;
}

@media only screen and (max-width: 768px) {
    .frame_status {
        widows: 100px;
        height: 50px;
    }
}