@import url("https://fonts.googleapis.com/css?family=Kanit&display=swap");
@import url('https://fonts.googleapis.com/css?family=Prompt&display=swap');

.textname-dimsum {
  font-size: 35px;
  color: rgb(0, 96, 175);
  font-family: "Kanit",
    sans-serif;
  text-align: center;
}

.textname-dimsum:hover {
  text-decoration: none;
  color: rgb(15, 97, 219);
}

.img_pok {
  height: 200px;
  width: 250px;
  margin-top: 2px;
}

.img_pokegg {
  height: 200px;
  width: 250px;
  margin-top: 2px;
}

.img_poo {
  height: 200px;
  width: 250px;
  margin-top: 2px;
}

.img_shrimp {
  height: 200px;
  width: 250px;
  margin-top: 2px;
}

.img_hargao {
  height: 200px;
  width: 250px;
  margin-top: 2px;
}

.img_shrimp {
  height: 200px;
  width: 250px;
  margin-top: 2px;
}

.text_namemenu {
  font-size: 20px;
  text-align: center;
}

.basket {
  width: 40px;
  height: 40px;
}

@media only screen and (max-width: 768px) {
  .textname-dimsum {
    margin-top: 15px;
    font-size: 20px;
  }

  .basket {
    width: 25px;
    height: 25px;
  }

  .img_pok {
    height: 100px;
    width: 150px;
    margin-left: 70px;
    margin-right: 70px;
  }

  .img_pokegg {
    height: 100px;
    width: 150px;
    margin-left: 70px;
    margin-right: 70px;
  }

  .img_poo {
    height: 100px;
    width: 150px;
    margin-left: 70px;
    margin-right: 70px;
  }

  .img_shrimp {
    height: 100px;
    width: 150px;
    margin-left: 70px;
    margin-right: 70px;
  }

  .img_hargao {
    height: 100px;
    width: 150px;
    margin-left: 70px;
    margin-right: 70px;
  }

  .img_shrimp {
    height: 100px;
    width: 150px;
    margin-left: 70px;
    margin-right: 70px;
  }

}