@import url("https://fonts.googleapis.com/css?family=Kanit&display=swap");
@import url('https://fonts.googleapis.com/css?family=Prompt&display=swap');
.from_searchdimsum {
  width: 400px;
}
.table-dimsum {
  margin-top: 30px;
  font-size: 22px;
  text-align: center;
  font-family: "Kanit", sans-serif;}
.tabel-dimsum {
  text-align: center;
  font-family: "Kanit", sans-serif;
}
.dl_pok {
  height: 200px;
  width: 200px;
  text-align: center;
}

.dl_pokegg {
  height: 200px;
  width: 200px;
  text-align: center;
}

.dl_poo {
  height: 200px;
  width: 200px;
  text-align: center;
}

.dl_shrimp {
  height: 200px;
  width: 200px;
  text-align: center;
}

.dl_hargao {
  height: 200px;
  width: 200px;
  text-align: center;
}

.dl_shrimp_dum {
  height: 200px;
  width: 200px;
  text-align: center;
}

.from_btshop {
  text-align: right;
}

.textname-dimsum {
  text-align: center;
  font-size: 80px;
  color: #224870;
  font-family: "Kanit", sans-serif;

}

.row1 {
  padding-left: 450px;
  padding-right: 450px;
}
.text_namemenu{
  font-size: 20px;
  text-align: center;
}
