@import url("https://fonts.googleapis.com/css?family=Kanit&display=swap");
@import url('https://fonts.googleapis.com/css?family=Prompt&display=swap');
.table-breakfast {
    margin-top: 20px;
}
.textname-breakfast {
    text-align: left;
    font-size: 50px;
    margin-top: 10px;
    color: #224870;
    font-family: "Kanit", sans-serif;
}
.textname-breakfast:hover {
    text-decoration: none;
    color: #00758d;
}
.thead-bar {
    margin-top: 20px;
    font-size: 22px;
    text-align: center;
    font-family: "Kanit", sans-serif;
}
.tabel-breakfast {
    text-align: center;
    font-family: "Kanit", sans-serif;
}
.btn-basket {
    font-family: 'Prompt', sans-serif;
    font-size: 20px;
}
.bf_bf {
    height: 200px;
    width: 200px;
    text-align: center;
}
.bf_egg {
    height: 200px;
    width: 200px;
    text-align: center;
}
.bf_fish {
    height: 200px;
    width: 200px;
    text-align: center;
}
.bf_shrimp{
    height: 200px;
    width: 200px;
    text-align: center;
}

