@import url("https://fonts.googleapis.com/css?family=Kanit&display=swap");
@import url('https://fonts.googleapis.com/css?family=Prompt&display=swap');

.textname-breakfast {
    font-size: 35px;
    color: rgb(0, 96, 175);
    font-family: "Kanit",
        sans-serif;
    text-align: center;
}

.textname-breakfast:hover {
    text-decoration: none;
    color: rgb(15, 97, 219);
}

.img_bfegg {
    height: 200px;
    width: 250px;
    margin-top: 2px;
    text-align: center;
}

.img_bffish {
    height: 200px;
    width: 250px;
    margin-top: 2px;
}

.img_bfshrimp {
    height: 200px;
    width: 250px;
    margin-top: 2px;
}

.img_bf {
    height: 200px;
    width: 250px;
    margin-top: 2px;
}

@media only screen and (max-width: 768px) {

    .textname-breakfast {
        margin-top: 15px;
        font-size: 20px;

    }

    .img_bf {
        height: 100px;
        width: 150px;
        margin-left: 70px;
        margin-right: 70px;
    }

    .img_bfegg {
        height: 100px;
        width: 150px;
        margin-left: 70px;
        margin-right: 70px;
    }

    .img_bffish {
        height: 100px;
        width: 150px;
        margin-left: 70px;
        margin-right: 70px;
    }

    .img_bfshrimp {
        height: 100px;
        width: 150px;
        margin-left: 70px;
        margin-right: 70px;
    }
}