@import url("https://fonts.googleapis.com/css?family=Kanit&display=swap");

.from_address {
    margin-top: 30px;
}

.text_address {
    font-size: 22px;
    text-align: center;
    font-family: "Kanit", sans-serif;
    color: #224870;
}

.bt_address {
    height: 100px;
    margin-top: 20px;
    text-align: center;
}

.text_btaddress {
    font-size: 18px;
    font-family: "Kanit", sans-serif;
}