@import url("https://fonts.googleapis.com/css?family=Kanit&display=swap");
.from_order {
    margin-top: 20px;
}
.text_basketconfirm{
     font-size: 50px;
     text-align: center;
     font-family: "Kanit",
     sans-serif;
     margin-top: 30px;
     color: #224870;
}
.text_basketconfirm {
   text-decoration: none;
   color: #00758d;
}
.bt_payment {
    width: 200px;
    margin-top: 30px;
}
.bt_payment:hover{
    background-color: #ffffff;
    color: #224870;
}
.text-addre {
    font-size: 22px;
    font-family: "Kanit", sans-serif;
    text-align: center;
    margin-top: 20px;
}
.text-addre:hover {
    text-decoration: none;
}
.img_order {
    text-align: center;
}
.img_address {
    width: 60px;
    height: 60px;
    margin-right: 20px;
}

.img_pay {
    width: 60px;
    height: 60px;
    margin-right: 20px;
}

.img_confirm {
    width: 60px;
    height: 60px;
    margin-right: 20px;
}
.from_btnextback{
    text-align: center;
}