@import url("https://fonts.googleapis.com/css?family=Kanit&display=swap");

.text_foodorder {
    color: #003366;
    font-size: 30px;
    text-align: center;
    font-family: "Kanit",
        sans-serif;
}

.card_foodorder {
    margin-top: 20px;
    text-align: center;
    font-family: "Kanit",
        sans-serif;
    font-size: 16px;
}