@import url("https://fonts.googleapis.com/css?family=Kodchasan&display=swap");
@import url("https://fonts.googleapis.com/css?family=Kanit&display=swap");
@import url('https://fonts.googleapis.com/css?family=Prompt&display=swap');

.form-register {
  margin-top: 70px;
  text-align: center;
  margin-left: 500px;
  margin-right: 500px;
}

.text_register {
  margin-top: 30px;
  text-align: center;
  font-size: 30px;
  color: #003366;
  font-family: "Kanit",
    sans-serif;
}

.input_register {
  width: 400px !important;
  height: 40px !important;
  margin-top: 10px;
  padding: 10px;
  font-size: 15px !important;
  font-family: "Kanit",
    sans-serif;
}

.btn-register {
  margin-top: 15px;
  text-align: center !important;
  color: #eff6fd !important;
  font-size: 16px !important;
  font-family: 'Prompt',
    sans-serif;
}

@media only screen and (max-width: 768px) {
  form-register {
    width: 100%;
  }

  .text_register {
    margin-top: 10px;
    text-align: center;
    font-size: 18px;
  }

  .input_register {
    width: 300px !important;
    height: 30px !important;
    font-size: 12px !important;
  }

  .btn-register {
    margin-top: 5px;
    text-align: center !important;
    font-size: 14px !important;
  }

  @media only screen and (max-width: 768px) {}
}