@import url("https://fonts.googleapis.com/css?family=Kanit&display=swap");

.card_orderkitchen {
    margin-top: 20px;
    text-align: center;
    font-family: "Kanit",
        sans-serif;
    font-size: 20px;
}
.text_orderkitchen {
    font-size: 40px;
    text-align: center;
    font-family: "Kanit",
        sans-serif;
}

.from_orderkitchen {
    margin-top: 20px;
}
.text_menuorder{
    text-align: center;
}
.bt_received{
    text-align: right;
}
.bt_cooking{
    text-align: left;
}