@import url("https://fonts.googleapis.com/css?family=Kanit&display=swap");
@import url('https://fonts.googleapis.com/css?family=Prompt&display=swap');

.textname-fastfood {
    margin-top: 15px;
    font-size: 35px;
    color: rgb(0, 96, 175);
    font-family: "Kanit",
        sans-serif;
    text-align: center;
}

.textname-fastfood:hover {
    text-decoration: none;
    color: rgb(15, 97, 219);
}

.img_ffchicken {
    height: 200px;
    width: 250px;
    margin-top: 2px;
}

.img_ffredpork {
    height: 200px;
    width: 250px;
    margin-top: 2px;
}

.img_ffcrispypork {
    height: 200px;
    width: 250px;
    margin-top: 2px;
}

.img_ffporkleg {
    height: 200px;
    width: 250px;
    margin-top: 2px;
}

.img_ffduck {
    height: 200px;
    width: 250px;
    margin-top: 2px;
}

.img_ffbabutte {
    height: 200px;
    width: 250px;
    margin-top: 2px;
}

.img_ffrice {
    height: 200px;
    width: 250px;
    margin-top: 2px;
}

@media only screen and (max-width: 768px) {
    .textname-fastfood {
        margin-top: 15px;
        font-size: 20px;
    }

    .img_ffchicken {
        height: 100px;
        width: 250px;
        margin-top: 2px;
    }

    .img_ffredpork {
        height: 100px;
        width: 250px;
        margin-top: 2px;
    }

    .img_ffcrispypork {
        height: 100px;
        width: 250px;
        margin-top: 2px;
    }

    .img_ffporkleg {
        height: 100px;
        width: 250px;
        margin-top: 2px;
    }

    .img_ffduck {
        height: 100px;
        width: 250px;
        margin-top: 2px;
    }

    .img_ffbabutte {
        height: 100px;
        width: 250px;
        margin-top: 2px;
    }

    .img_ffrice {
        height: 100px;
        width: 250px;
        margin-top: 2px;
    }
}