@import url("https://fonts.googleapis.com/css?family=Kanit&display=swap");

.text_senderstatus {
    color: #003366;
    font-size: 45px;
    text-align: center;
    font-family: "Kanit",
        sans-serif;
}

.card_senderstatus {
    margin-top: 20px;
    text-align: center;
    font-family: "Kanit",
        sans-serif;
    font-size: 22px;
}

.table_senderstatus {
    text-align: center;
    margin-top: 20px;
}

.text_tablesenderstatus {
    font-family: "Kanit",
        sans-serif;
    font-size: 16px;
}

@media only screen and (max-width: 375px) {
    .text_senderstatus {
        font-size: 20px;
    }

    .card_senderstatus {
        font-size: 14px;
    }

    .text_tablesenderstatus {
        font-size: 14px;
    }

}