.bar {
  background-color: #b0e2ff;
  border-color: aliceblue;
}
@media only screen and (max-width: 1200px) {
  .content {
    margin-top: 50px;
  }
  .text-st {
    font-size: 25px;
  }
  .title {
    padding: 40px;
  }
  .article1 {
    height: 650px;
  }
  .article2 {
    height: 650px;
  }
  .text-course {
    font-size: 12px;
  }
  .text-faculty {
    font-size: 12px;
  }
  .text-second {
    font-size: 10px !important;
    font-weight: 100 !important;
  }
}
