.home{
    background-color: aquamarine!important;
}
.logo{
    color: aquamarine;
    font-size: 35px;
}
.login{
    font-size: 15px;
}

.login:hover{
    color:#33FFFF;
}
.basket{
     font-size: 15px;
}

.basket:hover{
    color:#33FFFF;
}
