@import url("https://fonts.googleapis.com/css?family=Aclonica&display=swap");

@import url("https://fonts.googleapis.com/css?family=Kanit&display=swap");
.fon-bar {
  font-family: "Aclonica", sans-serif;
  color: #b2d6ca;
  font-size: 30px;
  margin: 3px;
}
.fon-barr {
  font-family: "Kanit", sans-serif;
  font-size: 18px;
  color: #85b8cb;
  text-align: center;
}
.bar {
  background-color: #1d6a96;
  border-color: aliceblue;
}
.pic-1 {
  height: 50px;
  display: flex;
 width:50px;
 float: left;
}
@media only screen and (max-width: 768px) {
  .content {
    margin-top: 50px;
  }
  .text-st {
    font-size: 25px;
  }
  .title {
    padding: 40px;
  }
  .article1 {
    height: 650px;
  }
  .article2 {
    height: 650px;
  }
  .text-course {
    font-size: 12px;
  }
  .text-faculty {
    font-size: 12px;
  }
  .text-second {
    font-size: 10px !important;
    font-weight: 100 !important;
  }
}
