@import url("https://fonts.googleapis.com/css?family=Kanit&display=swap");

.from_cooking {
    text-align: center;
    margin-top: 100px;
}

.cooking {

    width: 300px;
}

.text_cooking {
    text-align: center;
    font-size: 40px;
    margin-top: 10px;
    color: #369621;
    font-family: "Kanit",
        sans-serif;
}