@import url("https://fonts.googleapis.com/css?family=Kanit&display=swap");

.from_menusel {
  font-family: "Kanit",
    sans-serif;
  font-size: 18px;
}

.input_search {
  font-family: "Kanit",
    sans-serif;
  font-size: 16px;
  width: 300px;
  margin-right: 10px !important;
}

.from_basket {
  margin-left: 860px;
}

/* 
.basket {

  margin-top: -10px;
} */

.text_numorder {
  font-size: 13px;
  margin-top: -28px;
  margin-left: 31px !important;
}

@media only screen and (max-width: 768px) {
  .input_search {
    font-size: 8px;
  }

  .basket {
    margin-right: 10px;
  }
}