.colla{
  text-align: center;
}
.card-tel {
  margin-top: 40px;
  text-align: center;
  height: 150px;
}
.card-line {
  margin-top: 40px;
  text-align: center;
}
.card-face {
  margin-top: 40px;
  text-align: center;
}
.tel{
  margin-top: 40px;
  text-align: center;
}
.line{
  margin-top: 40px;
  text-align: center;
}