@import url("https://fonts.googleapis.com/css?family=Kanit&display=swap");
@import url('https://fonts.googleapis.com/css?family=Fredoka+One&display=swap');
.foo {
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  display: block;
  text-align: center;
}
.piccon {
  width: 520px;
  height: 350px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-top: 50px;
}
.text-cont{
  font-size: 80px;
  font-family: 'Fredoka One', cursive;
  color: #182b3a;
}