@import url("https://fonts.googleapis.com/css?family=Kanit&display=swap");

.from_addressdelivery {
    margin-top: 10px;
    font-size: 14px;
    font-family: "Kanit", sans-serif;
}

.text_basketconfirm {
    margin-top: 15px;
    font-size: 50px;
    color: #243e5a;
    font-family: "Kanit",
        sans-serif;
    text-align: center;
}

.text-addre {
    margin-top: 10px;
    font-size: 20px;
    font-family: "Kanit",
        sans-serif;
}

.inputAddress {
    margin-top: 10px;
    margin-left: 20px;
    width: 260px;
    height: 30px;
    font-size: 13px;
}

.addressdelivery {
    color: #231942;
    font-size: 18px;
    font-family: "Kanit", sans-serif;
    margin-top: 5px;
}

.addressCurrent {
    color: #231942;
    font-size: 15px;
    font-family: "Kanit",
        sans-serif;
    margin-top: 5px;
}

.code {
    color: #231942;
    font-size: 18px;
    margin-top: 5px;
    font-family: "Kanit",
        sans-serif;
}

.from_payments {
    text-align: center;
}

.btNext {
    text-align: center;
}

.bt_nextone {
    text-align: center !important;
    margin-top: 15px;
    font-size: 14px;
    font-family: "Kanit",
        sans-serif;
}

.bt_ok {
    margin-left: 10px;
    margin-top: 15px;
    font-size: 14px;
    font-family: "Kanit",
        sans-serif;
}

.bt_next {
    margin-left: 10px;
    margin-top: 15px;
    font-size: 14px;
    font-family: "Kanit", sans-serif;
}

.bt_back {
    margin-right: 10px;
    margin-top: 15px;
    font-size: 14px;
    font-family: "Kanit", sans-serif;

}

.img_savelocation {
    width: 20px;
    height: 20px;
    text-align: right;
}

.img_location {
    width: 20px;
    height: 20px;
    text-align: right;
}

.img_newaddress {
    width: 20px;
    height: 20px;
    text-align: right;
}

.from_check {
    margin-left: 30px;
    margin-top: 10px;
}

.text_paymentconfirm {
    font-size: 16px;
    font-family: "Kanit", sans-serif;
}

.text_code {
    font-size: 14px;
    margin-top: 10px;
}

.from_editorder {
    text-align: right;
}

.edit_order {
    color: #8d0001;
    font-size: 14px;

    font-family: "Kanit",
        sans-serif;
}

.edit_order:hover {
    color: #8d0001;
}

.selects {
    margin-top: -10px !important;
}

.frontAddress {
    font-size: 16px;
}

.textAddress {
    font-size: 13px;
    margin-top: 5px;
}