@import url("https://fonts.googleapis.com/css?family=Kanit&display=swap");

.from_orderDelivery {
    text-align: center !important;
}

.cardAddress {
    background-color: #ddfff7;
    width: 800px;
    margin-left: 80px;
    margin-right: 160px;
}

.fontVerify {
    font-size: 22px;
    text-align: left !important;
    margin-left: 80px;
}

.from_addressdelivery {
    margin-top: 10px;
    margin-left: 100px;
    margin-right: 250px;
    font-family: "Kanit", sans-serif;
    width: 900px;

}

.text_basketconfirm {
    margin-top: 15px;
    font-size: 50px;
    color: #243e5a;
    font-family: "Kanit",
        sans-serif;
    text-align: center;
}

.text-addre {
    margin-top: 10px;
    font-size: 25px;
    font-family: "Kanit",
        sans-serif;
    color: #114b5f;
}

.inputAddress {
    margin-top: 10px;
    margin-left: 320px;
    width: 260px;
    height: 30px;
    font-size: 13px;
}

.addressdelivery {
    color: #231942;
    font-size: 18px;
    font-family: "Kanit", sans-serif;
    margin-top: 5px;
    text-align: left !important;
}

.addressCurrent {
    color: #231942;
    font-size: 20px;
    font-family: "Kanit",
        sans-serif;
    margin-top: 20px;
    margin-right: 200px;
    text-align: left;
    margin-right: 20px;
    margin-left: 80px;
}

.code {
    color: #231942;
    font-size: 18px;
    margin-top: 5px;
    font-family: "Kanit",
        sans-serif;
}

.from_payments {
    text-align: center;
}

.btNext {
    text-align: center;
}

.bt_nextone {
    text-align: center !important;
    margin-top: 15px;
    font-size: 14px;
    font-family: "Kanit",
        sans-serif;
}

.bt_ok {
    margin-left: 10px;
    margin-top: 15px;
    font-size: 14px;
    font-family: "Kanit",
        sans-serif;
}

.bt_next {
    margin-left: 10px;
    margin-top: 15px;
    font-size: 14px;
    font-family: "Kanit", sans-serif;
}

.bt_back {
    margin-right: 10px;
    margin-top: 15px;
    font-size: 14px;
    font-family: "Kanit", sans-serif;

}

.img_savelocation {
    width: 20px;
    height: 20px;
    text-align: right;
}

.img_location {
    width: 20px;
    height: 20px;
    text-align: right;
}

.img_newaddress {
    width: 20px;
    height: 20px;
    text-align: right;
}

.from_check {
    margin-left: 30px;
    margin-top: 10px;
}

.text_paymentconfirm {
    font-size: 16px;
    font-family: "Kanit", sans-serif;
}

.text_code {
    font-size: 14px;
    margin-top: 10px;
}

.from_editorder {
    text-align: right;
}

.edit_order {
    color: #8d0001;
    font-size: 14px;

    font-family: "Kanit",
        sans-serif;
}

.edit_order:hover {
    color: #8d0001;
}

.selects {
    margin-top: 15px !important;
    text-align: left;
    margin-left: 80px;
}

.frontAddress {
    font-size: 18px;
    text-align: left !important;
}

.textAddress {
    font-size: 13px;
    margin-top: 5px;
    margin-left: 20px;
    text-align-last: left;
    margin-left: 80px;
}

.textSelect {
    text-align: left;
    font-size: 16px;
}

@media only screen and (max-width: 400px) {
    .cardAddress {
        width: 150px;
        text-align: center;

    }

    .fontVerify {
        font-size: 15px;
        text-align: left !important;

    }

    .from_orderDelivery {
        text-align: center;
        margin-right: 1200px;
    }

    .from_addressdelivery {
        margin-top: 10px;
    }

    .text_basketconfirm {
        margin-top: 15px;
        font-size: 23px;
        text-align: center;
    }

    .text-addre {
        margin-top: 10px;
        font-size: 15px;
    }

    .inputAddress {
        margin-top: 10px;
        margin-left: 40px;
        width: 150px;
        height: 30px;
        font-size: 13px;
    }

    .addressdelivery {
        font-size: 18px;
        margin-top: 5px;
        text-align: left !important;
    }

    .addressCurrent {
        font-size: 15px;
    }

    .code {
        font-size: 18px;
        margin-top: 5px;
    }

    .from_payments {
        text-align: center;
    }

    .btNext {
        text-align: center;
    }

    .bt_nextone {
        text-align: center !important;
        margin-top: 15px;
        font-size: 14px;
    }

    .bt_ok {
        margin-left: 10px;
        margin-top: 15px;
        font-size: 14px;
    }

    .bt_next {
        margin-left: 10px;
        margin-top: 15px;
        font-size: 14px;
    }

    .bt_back {
        margin-right: 10px;
        margin-top: 15px;
        font-size: 14px;

    }

    .img_savelocation {
        width: 20px;
        height: 20px;
        text-align: right;
    }

    .img_location {
        width: 20px;
        height: 20px;
        text-align: right;
    }

    .img_newaddress {
        width: 20px;
        height: 20px;
        text-align: right;
    }

    .from_check {
        margin-left: 30px;
        margin-top: 10px;
    }

    .text_paymentconfirm {
        font-size: 16px;
        font-family: "Kanit", sans-serif;
    }

    .text_code {
        font-size: 14px;
        margin-top: 10px;
    }

    .from_editorder {
        text-align: right;
    }

    .edit_order {
        color: #8d0001;
        font-size: 14px;

        font-family: "Kanit",
            sans-serif;
    }

    .edit_order:hover {
        color: #8d0001;
    }

    .selects {
        margin-top: 15px !important;
        text-align: left !important;
        margin-left: 80px;
    }

    .frontAddress {
        font-size: 16px;
        text-align: left !important;
    }

    .textSelect {
        text-align: left;
        font-size: 15px;
    }

    .textAddress {
        font-size: 13px;
        margin-top: 5px;
        margin-left: 80px;
    }
}