@import url("https://fonts.googleapis.com/css?family=Kanit&display=swap");

.from_deliveryfood {
    text-align: center;
    margin-top: 100px;
}

.img_deliveryfood {
    height: 400px;
    width: 400px;
}

.text_deliveryfood {
    text-align: center;
    font-size: 40px;
    margin-top: 10px;
    color: #369621;
    font-family: "Kanit",
        sans-serif;
}